*{
margin:0;
}
body,html,:global(#react){
	height: 100%;
	width: 100%;
}
.top{
	padding:1%;
	background:#2874f0
}
.cart_icon{
       width: 2%;
    margin: 0% 0% 0% 5%;
}
.inp_span{
    margin: 0% 13% 0% 14%;
}
.inp{
padding: 10px;
    width: 30%;
}
.cart_span{
    display: table-footer-group;
}
.left{
	height:90%;
	width:20%;
	background:whitesmoke;
	float:left;
}
.products{
    height: 90%;
    width: 80%;
    background: snow;
  	float:left;
	    overflow: overlay;
}
.ul1{
list-style-type: none;
}
.pro_img{
	width:20%;
	height: 65%;
	float:left;
}
.li{
	    background: white;
    width: 90%;
    height: 35%;
    margin: 1% 0%;
    padding: 3%;
}
.pro_text{
	margin: 1% 6% 1% 7%;
	font-size: larger;
}
b{
float: left;
    margin: 2% 38%;
    font-size: xx-large;

}

.ul2{
    width: 40%;
    margin: 5% 34%;
	height: 23%;
	
}
a{
text-decoration: none;
}

.cart_remove{
    margin: 10% 7%;
    padding: 1%;
    background: yellowgreen;
    border-radius: 17%;
    border-style: none;
}
.addCart{
	background: green;
    border-style: none;
    padding: 1%;
}


.cart_li{
    background: papayawhip;
    padding: 2%;
    width: 92%;
    margin-top: 1%;
}
.cart_detail{
	text-align: center;
    color: blue;
}



